<!DOCTYPE html>
<html>
<head>
	<title>Eat Da Burger!</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">

</head>
<body>
	{{{ body }}}
</body>
</html>