<!DOCTYPE html>
<html>
<head>
	<title>Eat Da Burger!</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">

</head>
<body>
	{{{ body }}}
</body>
</html>