body {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
    background: #eee;
    background-image: url(https://img.freepik.com/free-photo/three-hamburger-with-beef-meat-burger-fresh-vegetables-dark-background_2829-2665.jpg?size=626&ext=jpg);
}

header {
	background: #384140;
	margin: 0;
	height: 60px;
	display: flex;
    align-items: center;
   
}

h1 {
	margin: 0 0 0 100px;
	color: #fff;
    font-size: 30px;
    text-align: center;
}

.itemNumber {
	font-size: 13px;
	background: #045951;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	margin-left: 5px;
}

button {
	display: inline;
}

.devour-burger-form {
	display: inline;
}

#burgers-container {
	display: flex;
}

#burgers-available {
	flex-grow: 1;
	padding: 0.5em 2em 1.7em 2em;
	background:pink;
	margin: 1em 1em 1em 0;
}

#burgers-devoured {
	flex-grow: 1;
	background: #333;
	padding: 0.5em 2em 1.7em 2em;
	margin: 1em 0 1em 1em;
}

#burgers-devoured h2, #burgers-devoured div {
	color: #ddd;
}

.wrapper {
	max-width: 67%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 40px;
}

.burger {
	line-height: 2;
}

.eat-btn {
	margin-right: 0.7em;
    padding: 5px;
    margin-bottom: 15px;
}

#submit-btn {
	padding: 0.57em 1em 0.57em 1em;
	font-size: 1.5em;
	background: #38eeff;
	border: none;
	margin-left: 10px;
}

#burger-name {
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.5em;
}